.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 22px;
}

.header1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.bubble1 {
  position: absolute;
  left: -55px;
  white-space: nowrap;
  background-color: #D7EBE0;
  padding: 20px;
  border-radius: 20px;
  cursor: default;
  z-index: 20;
  transition: opacity .15s linear;
  transition: 0.13s linear;
}
.bubble2 {
  position: absolute;
  left: -90px;
  white-space: nowrap;
  background-color: #D7EBE0;
  padding: 20px;
  border-radius: 20px;
  cursor: default;
  z-index: 20;
  transition: opacity .15s linear;
  transition: 0.13s linear;
}
.bubble3 {
  position: absolute;
  width: 225px;
  left: -35px;
  text-align: center;
  background-color: #D7EBE0;
  padding: 20px;
  border-radius: 20px;
  cursor: default;
  z-index: 20;
  transition: opacity .15s linear;
  transition: 0.13s linear;
}

@media screen and (max-width: 724px) {
  .header1 {
    margin-left: 30px;
    font-size: 14px;
  }

  .header2 {
    margin-left: 10px;
    font-size: 14px;
  }

  .header3 {
    margin-left: 0px;
    font-size: 14px;
  }
}
@media screen and (min-width: 725px) {
  .container {
    width: 405px;
  }
  .header1 {
    margin-left: 30px;
  }

  .header2 {
    margin-left: 50px;
  }

  .header3 {
    margin-right: -25px;
  }
}