.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 30px 0 10px 0;
  font-weight: 550;
  color: #00682F;
}

@media screen and (max-width: 724px) {
  .title {
    font-size: 45px;
  }
  .inputsContainer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 725px) {
  .inputsContainer {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    width: 650px;
  }
  .title {
    font-size: 70px;
  }
}

.break {
  height: 190px;
}

.sliderSubmitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}

.submit {
  height: 50px;
  width: 120px;
  margin-top: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #00682F;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: linear 0.1s;
}
.submit:hover {
  transform: scale(1.05);
}

.submitWidth {
  width: 120px;
}