.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.generalInputs {
  display: block;
  border: none;
  outline: none;
  box-shadow: rgb(53 64 102 / 30%) 0px 1px;
  background-color: transparent !important;
  height: 40px;
  width: 250px;
  transition: linear 0.17s;
}
.generalInputs:focus {
  box-shadow: rgb(53 64 102) 0px 2px;
}
.generalInputs:hover {
  box-shadow: rgb(53 64 102) 0px 2px;
}

.headers {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 40px;
  width: 415px;
}

.header1 {
  display: inline-block;
  margin-left: 30px;
}
.header2 {
  display: inline-block;
  margin-left: 50px;
}
.header3 {
  display: inline-block;
  margin-right: -25px;
}

.shopperInputsContainer {
  border-radius: 10px;
  padding: 3px 10px 10px 10px;
  cursor: text;
  transition: linear 0.17s;
}
.shopperInputsContainer:hover {
  background-color: #D7EBE0;
}

.shopperInput1 {
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: rgb(53 64 102 / 30%) 0px 1px;
  background-color: transparent !important;
  height: 40px;
  width: 120px;
  transition: linear 0.17s;
}
.shopperInput1:focus {
  box-shadow: rgb(53 64 102) 0px 2px;
}
.shopperInput1:hover {
  box-shadow: rgb(53 64 102) 0px 2px;
}

.shopperInput2 {
  transition: linear 0.17s;
}

.shopperInput3 {
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: rgb(53 64 102 / 30%) 0px 1px;
  background-color: transparent !important;
  height: 40px;
  width: 120px;
  transition: linear 0.17s;
}
.shopperInput3:focus {
  box-shadow: rgb(53 64 102) 0px 2px;
}
.shopperInput3:hover {
  box-shadow: rgb(53 64 102) 0px 2px;
}

@media screen and (max-width: 725px) {
  .shopperInput2 {
    margin: 0px 25px -10px 25px;
  }
}
@media screen and (min-width: 725px) {
  .shopperInput2 {
    margin: 0px 70px -10px 70px;
  }
}
