.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.generalInputs {
  display: block;
  border: none;
  outline: none;
  box-shadow: rgb(53 64 102 / 30%) 0px 1px;
  background-color: transparent !important;
  height: 40px;
  width: 250px;
  transition: linear 0.17s;
}
.generalInputs:focus {
  box-shadow: rgb(53 64 102) 0px 2px;
}
.generalInputs:hover {
  box-shadow: rgb(53 64 102) 0px 2px;
}

.headers {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 40px;
  width: 415px;
}

.header1 {
  display: inline-block;
  margin-left: 30px;
}
.header2 {
  display: inline-block;
  margin-left: 50px;
}
.header3 {
  display: inline-block;
  margin-right: -25px;
}

.shopperInputsContainer {
  border-radius: 10px;
  padding: 3px 10px 10px 10px;
  cursor: text;
  transition: linear 0.17s;
}
.shopperInputsContainer:hover {
  background-color: #D7EBE0;
}

.shopperInput1 {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid rgb(53 64 102 / 30%);
  background-color: transparent !important;
  height: 40px;
  width: 120px;
  transition: linear 0.17s;
}
.shopperInput1:focus {
  border-bottom: 1px solid black;
}
.shopperInput1:hover {
  border-bottom: 1px solid black;
}

.shopperInput2 {
  transition: linear 0.17s;
}

.shopperInput3 {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid rgb(53 64 102 / 0.3);
  background-color: transparent !important;
  height: 40px;
  width: 120px;
  transition: linear 0.17s;
}
.shopperInput3:focus {
  border-bottom: 1px solid black;
}
.shopperInput3:hover {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 724px) {
  .shopperInput2 {
    margin: 0px 22px -10px 22px;
  }
}
@media screen and (min-width: 725px) {
  .shopperInput2 {
    margin: 0px 70px -10px 70px;
  }
}


/* Floating input style */
.floatingInput {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3px 0;
}

.floatingInput:focus-within label {
  transform: translate(0, 5px) scale(0.8);
  color: #00682f;
}

.floatingInput .filled {
  transform: translate(0, 5px) scale(0.8);
}

.floatingInput label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 22px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6b7280;
  line-height: 1;
  font-size: 14px;
}

.floatingInput input {
  height: 45px;
  width: 230px;
  border-radius: 0px;
  border: none;
  padding-top: 15px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.floatingInput input:focus {
  border-bottom: 1px solid #00682f;
}