.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.test {
  border: none;
  outline: none;
  height: 40px;
}
.test:focus {
  background-color: lightblue;
}